~*

*.pyc
*.bat
*.ipynb

tests.py

logs/

templates/~*
migrations/__pycache__
migrations/~*
migrations/versions/__pycache__
migrations/versions/~*

blueprints/events/__pycache__
blueprints/events/~*
blueprints/events/templates/events/~*
blueprints/posts/__pycache__
blueprints/posts/~*
blueprints/posts/templates/posts/~*
blueprints/users/__pycache__
blueprints/users/~*
blueprints/users/templates/users/~*

app/*.pys
app/~*

app/data/~*
app/data/*.zip
app/data/*.csv
app/data/*.tsv
app/data/*.whl
app/__pycache__

__pycache__/