~*

*.pyc
*.bat
*.ipynb

templates/~*
migrations/__pycache__
migrations/~*
migrations/versions/__pycache__
migrations/versions/~*

blueprints/events/__pycache__
blueprints/events/~*
blueprints/posts/__pycache__
blueprints/posts/~*
blueprints/users/__pycache__
blueprints/users/~*

app/*.pys
app/~*

app/data/~*
app/data/*.zip
app/data/*.csv
app/data/*.tsv
app/data/*.whl
app/__pycache__

__pycache__/